<h1 class="title is-3">Book a Flight</h1>
<%= form_with url: "/flights", method: :get do |f| %>
  <div class="row">
    <div class="control">
      <%= f.label "Where from?", class: "label" %>
      <div class="select">
        <%= f.select(:departure_airport, Airport.city, selected: @departure_airport, include_blank: "Depart") %>
      </div>
    </div>

    <div class="control">
      <%= f.label "Where to?", class: "label" %>
      <div class="select">
        <%= f.select(:arrival_airport, Airport.city, selected: @arrival_airport, include_blank: "Arrive") %>
      </div>
    </div>

    <div class="control">
      <%= f.label "Date", class: "label" %>
      <div class="select">
        <%= f.select(:departure_time, (Date.today.. 1.month.from_now), selected: @departure_time, include_blank: "Select date") %>
      </div>
    </div>

    <div class="control">
      <%= f.label "Passengers", class: "label" %>
      <div class="select">
        <%= f.select(:num_passengers, (1..6), selected: params[:num_passengers]) %>
      </div>
    </div>
  </div>
  <br>
  <%= f.submit "Search", class: "button is-primary" %>
<% end %>